In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = r"/Documents/lessons/Ucuncu sinif/2.semestre/Intoduction to ML/car_evaluation.csv"
df = pd.read_csv(data, header=None)

In [3]:
df.shape

(1728, 7)

In [4]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [5]:
col_names = ["buying", "maint","doors", "person", "lug_boot", "safety", "class"]
df.columns = col_names

In [6]:
df.head()

  buying  maint doors person lug_boot safety  class
0  vhigh  vhigh     2      2    small    low  unacc
1  vhigh  vhigh     2      2    small    med  unacc
2  vhigh  vhigh     2      2    small   high  unacc
3  vhigh  vhigh     2      2      med    low  unacc
4  vhigh  vhigh     2      2      med    med  unacc

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   person    1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   class     1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [8]:
for col in col_names:
    print(df[col].value_counts())

buying
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64
maint
vhigh    432
high     432
med      432
low      432
Name: count, dtype: int64
doors
2        432
3        432
4        432
5more    432
Name: count, dtype: int64
person
2       576
4       576
more    576
Name: count, dtype: int64
lug_boot
small    576
med      576
big      576
Name: count, dtype: int64
safety
low     576
med     576
high    576
Name: count, dtype: int64
class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [9]:
df["class"].value_counts()

class
unacc    1210
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [10]:
df.isnull().sum()

buying      0
maint       0
doors       0
person      0
lug_boot    0
safety      0
class       0
dtype: int64

In [11]:
x = df.drop(["class"],axis=1)

In [12]:
y = df["class"]

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,_t=y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [14]:
x_train.shape

(1209, 6)

In [15]:
x_test.shape

(519, 6)

In [16]:
x_train.dtypes

buying      object
maint       object
doors       object
person      object
lug_boot    object
safety      object
dtype: object

In [17]:
x_train.head()

     buying maint  doors person lug_boot safety
1178    med   med  5more      4      big   high
585    high  high      3   more    small    low
1552    low   med      3      4      med    med
1169    med   med  5more      2      big   high
1033    med  high      4      2      big    med

In [18]:
!pip install category_encoders

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: category_encoders in c:\users\alima\appdata\roaming\python\python311\site-packages (2.6.3)
Requirement already satisfied: numpy>=1.14.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.24.3)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.3.0)
Requirement already satisfied: scipy>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.11.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pandas>=1.0.5 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (2.0.3)
Requirement already satisfied: patsy>=0.5.1 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: packaging>=21.3 in c:\programdata\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (23.1)

In [26]:
import category_encoders as ce

In [27]:
x_train.head()

     buying maint  doors person lug_boot safety
1178    med   med  5more      4      big   high
585    high  high      3   more    small    low
1552    low   med      3      4      med    med
1169    med   med  5more      2      big   high
1033    med  high      4      2      big    med

In [28]:
x_test.head()

     buying maint  doors person lug_boot safety
599    high  high      4      2      med   high
1201    med   low      2      4      med    med
628    high  high  5more      2      big    med
1498    low  high  5more      4      med    med
1263    med   low      4   more      med    low

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=10, random_state=0)
rfc.fit(x_train, y_train)
y_pred = rfc.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
print("Model Accuracy: {0:0.4f}".format(accuracy_score(y_test,y_pred)))

In [ ]:
rfc_100 = RandomForestClassifier(n_estimators=100,random_state=0)
rfc_100.fit(x_train,y_train)
y_pred_100 = rfc_100.predict(x_test)
print("Model Accuracy with 100 decision tree: {0:0.4f}".format(accuracy_score(y_test,y_pred_100)))